<!DOCTYPE html>
<html lang="zh-CN" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta name="viewport" content="user-scalable=no,viewport-fit=cover"> -->
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <!-- <link
      rel="stylesheet"
      href="//f2.eckwai.com/kos/nlav11092/fangzhou/pub/temp/1690443413081.antd_4.21.6_antd.min.css"
    /> -->
    <link rel="stylesheet"
      href="--% AntdCSSPkg --" />

    <title>--title--</title>

    <!-- react about -->
    <script
      src="--% ReactPkg --"></script>
    <script
      src="--% ReactDOMPkg --"></script>

    <!-- antd about -->
    <script
      src="--% MomentPkg --"></script>
    <script
      src="--% MomentZhCNPkg --"></script>

    <script
      src="--% AntdPkg --"></script>
    <script
      src="--% AntdZhCNPkg --"></script>
    <script
      src="--% AntDesignIconsPkg --"></script>
    <script
      src="--% AntDesignChartsPkg --"></script>
    <!-- <script
      crossorigin="anonymous"
      src="//f2.eckwai.com/kos/nlav11092/fangzhou/pub/temp/1690444304807.0.18.1_axios.min.js"></script> -->
    <script
      src="--% PluginHTTPConnectorPkg --"></script>
    <script
      src="--% PluginConnectorDomainPkg --"></script>

    <!-- mybricks-render-web -->
    <script
      src="--% RenderWebPkg --"></script>
    -- plugin-runtime --
    -- themes-style --
  </head>

  <body>
    <div id="mybricks-page-root"></div>
    -- comlib-rt --
  </body>
</html>
