<!DOCTYPE html>
<html lang="zh-CN" class="no-js">

  <head>
    <meta charset="UTF-8" />
    <title>MyBricks-免费开放的无代码开发平台</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" crossorigin="anonymous"
      href="public/1690443413081.antd_4.21.6_antd.min.css" />
    <link href="./css/global.css" rel="stylesheet" type="text/css" />
    <script
      src="public/1690446345009.react.18.0.0.production.min.js"></script>
    <script
      src="public/1690446368294.umd_react-dom.18.0.0.production.min.js"></script>
    <script
      crossorigin="anonymous"
      src="public/1690444304807.0.18.1_axios.min.js"></script>
    <script
      src="public/1690443543399.2.29.4_moment.min.js"></script>
    <script
      src="public/1690444248634.ant-design-icons_4.7.0_min.js"></script>
    <script
      src="public/1690444184854.4.21.6_antd.min.js"></script>
  </head>

  <body class="fangzhou-theme">
    <div id="root"></div>
  </body>
  <script>
  var _hmt = _hmt || [];
</script>

</html>