<!DOCTYPE html>
  <html lang="zh-CN" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <title>Mybricks-通用无代码开发平台</title>
    <link href="./css/theme.css" rel="stylesheet" type="text/css" />
    <!-- replace-component-styleTags -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="js/moment/moment@2.29.4.min.js"></script>
    <script src="js/moment/locale/zh-cn.min.js"></script>
    <link rel="stylesheet" href="js/antd/antd@4.21.6.variable.min.css" />
    <script src="js/react@18.0.0.production.min.js"></script>
    <script src="js/react-dom@18.0.0.production.min.js"></script>
    <script src="js/antd/antd@4.21.6.min.js"></script>
    <script src="js/antd/locale/zh_CN.js"></script>
    <script src="js/ant-design-icons@4.7.0.min.js"></script>
    <script src="js/ant-design-charts@1.3.5.min.js"></script>
    <script src="js/plugin-http-connector/1.2.3/index.js"></script>
    <script src="js/mybricks-plugin-connector-domain@0.0.44.min.js"></script>
    <script src="https://assets.mybricks.world/comlibs/mybricks.basic-comlib/1.1.20/2024-03-11_15-47-14/rt.js" defer></script>
    <script src="https://assets.mybricks.world/comlibs/mybricks.normal-pc/1.5.60/2024-03-25_19-51-26/rt.js" defer></script>
    <script src="https://assets.mybricks.world/comlibs/mybricks.normal-pc-chart/1.0.17/2024-01-25_17-50-36/rt.js" defer></script>
    <script src="https://assets.mybricks.world/comlibs/mybricks.pc-portal/1.0.14/2024-02-06_10-23-49/rt.js" defer></script>
    <script src="https://assets.mybricks.world/comlibs/mybricks.pro-pc/1.0.66/2024-03-22_11-33-52/rt.js" defer></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
